{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <h2>New Question</h2>
    </div>

    <div class="row m-4">
        <form action="{% url 'ask' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-1">
                    <p>Title</p>
                </div>

                <div class="col-11">
                    <div class="input-group">
                        {{ form.title }}
                    </div>
                    {% if form.errors %}
                    <div class="row m-2">
                        <p><a class="text-danger">Please, enter title</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-1">
                    <p>Text</p>
                </div>

                <div class="col-11">
                    <div class="input-group ">
                        {{ form.text }}
                    </div>
                    {% if form.errors %}
                    <div class="row m-2">
                        <p><a class="text-danger">Please, enter question</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-1">
                    <p>Tags</p>
                </div>
                <div class="col-11">
                    <div class="input-group">
                        {{ form.tags }}
                    </div>
                </div>
            </div>

            <div class="row mt-3 ml-1">
                <div class="col-1"></div>
                <div class="col-11">
                    <button type="submit" class="btn btn-primary">ASK!</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
