{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all'>
</head>
<body>
    <nav class="navbar fixed-top navbar-light m-0" style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/1.png' %}" width="36" height="36" class="d-inline-block align-top" alt="">
            AskMoguchev
        </a>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

            <a href="{% url 'ask' %}" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true">ASK!</a>
        </form>

        <div class="col col-lg-5"></div>

        {% if user.is_authenticated %}
        <ui class="navbar-nav mr-auto">
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="text_style">{{ user.get_username }}</span>
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="nav-link dropdown-item" href="{% url 'settings' %}"><span class="text_style">Settings</span></a>
                     <a class="nav-link dropdown-item" href="#"><span class="text_style">Log Out</span></a>
                 </div>
             </li>
        </ui>
        {% else %}
        <ui class="navbar-nav mr-auto">
            <div class="row my-2 my-lg-0">
                <li class="nav-item m-3">
                    <a class="nav-link" href="{% url 'signup' %}"><span class="text_style"><u>Sign up</u></span></a>
                </li>
                <li class="nav-item m-3">
                    <a class="nav-link" href="{% url 'login' %}"><span class="text_style"><u>Sign in</u></span></a>
                </li>
            </div>
        </ui>
        {% endif %}
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-4">
                <div class="alert alert-warning ml-5 mt-5" role="alert">
                    <div class="tags">
                        <h4><b>Popular Tags<br></b></h4>
                        <p><a href="#" class="text-dark">Perl</a></p>
                        <p><a href="#" class="text-danger">Python</a></p>
                        <p><a href="#" class="text-dark">TechnoPark</a></p>
                        <p><a href="#" class="text-danger">MySQL</a></p>
                        <p><a href="#" class="text-success">django</a></p>
                        <p><a href="#" class="text-dark">Mail.ru</a></p>
                        <p><a href="#" class="text-warning">Firefox</a></p>
                    </div>
                </div>
                <div class="alert alert-info ml-5 mt-5" role="alert">
                    <div class="members">
                        <h4><b>Best Members<br></b></h4>
                        <p><a href="#"><u>Jeremy Clarkson</u></a></p>
                        <p><a href="#"><u>Richard Hammond</u></a></p>
                        <p><a href="#"><u>James May</u></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
