{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <h2>Log In</h2>
    </div>
    {% if form.errors %}
        <div class="row mt-2">
            <p><a class="text-danger">Sorry, wrong password or login!</a></p>
        </div>
    {% endif %}
    <div class="row m-4">
        <form action="{% url 'login' %}" method="POST" novalidate>
            {% csrf_token %}

            <div class="row mt-3">
                <div class="col-3">
                    {{ form.username.label_tag }}
                </div>
                <div class="col-9">
                    {{ form.username }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                     {{ form.password.label_tag }}
                </div>
                <div class="col-9">
                     {{ form.password }}
                </div>
            </div>

            <div class="row mt-3 ml-1">
                <button type="submit" class="btn btn-primary">Log in!</button>
            </div>

            <div class="row mt-3 ml-1">
                <a class="page-link" href="{% url 'signup' %}"><u>create new account</u></a>
            </div>
        </form>
    </div>

{% endblock %}


