{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row m-3">
    <div class="col-2">
        <div class="row">
            <img class="m-4" src="{% static 'img/test.png' %}" width="90" height="90" alt="">
        </div>
        <div class="row mt-3">
            <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                <span class="border border-secondary rounded-left">&nbsp;&nbsp;7&nbsp;&nbsp;</span>
                <a href="#" class="btn btn-secondary btn-sm">&#8593;</a>
                <a href="#" class="btn btn-secondary btn-sm">&#8595;</a>
            </div>
        </div>
    </div>

    <div class="col-10">
        <div class="row m-3">
            <h3>How create a Moon park?</h3>
            <a href="#"><h5 class="mt-0">{{ question.title }}</h5></a>
        </div>
        <div class="row m-3">
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
        <div class="row m-3">
            <div class="col">
                Tags: <a href="#"><u>black-jack</u></a>,<a href="#"><u>bender</u></a>
            </div>
        </div>
    </div>
</div>


{% for answer in answers %}
    {% include "inc/answer.html" %}
{% endfor %}


<div class="row m-3">
    <div class="input-group">
        <textarea class="form-control" id="" rows="4" placeholder="Enter your answer here."></textarea>
    </div>
</div>
    
{% endblock %}