{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row mt-5">
        <h2>Settings: {{ profile.username }}</h2>
    </div>
    <div class="row m-4">
        <form action="{% url 'settings' %}" method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <div class="row mt-3">
                <div class="col-3"></div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Save!</button>
                </div>
                <div class="col-5"></div>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>Login</p>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="dr_pepper">
        </div>
        <div class="col-5"></div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>Email</p>
        </div>
        <div class="col-4">
            <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="dr.pepper@mail.ru">
        </div>
        <div class="col-5"></div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>NickName</p>
        </div>
        <div class="col-4">
             <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Dr. Pepper">
        </div>
        <div class="col-5"></div>
    </div>

    

    <div class="row mt-3">
        <div class="col-3">
            Upload Avatar
        </div>
        <div class="col-4">
            <div class="row m-4">
                <img class="m-2" src="{% static 'img/user.png' %}" width="90" height="90" alt="">
            </div>    
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="">
                <label class="custom-file-label" for="">choose</label>
            </div>
        </div>
        <div class="col-5"></div>
    </div>
   
    
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Save!</button>
        </div>
        <div class="col-5"></div>
    </div>

{% endblock %}