{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row mt-5">
    <h2>Registration</h2>
</div>

<div class="row m-4">
    <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row mt-3">
        <div class="col-3">
            <p>Login</p>
        </div>
        <div class="col-6">
            {{ form.username }}
        </div>
        <div class="col-3">
            {% if form.username.errors %}
             <div class="row-1">
                 <a class="text-danger">{{ form.username.errors }}</a>
             </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>Email</p>
        </div>
        <div class="col-6">
            {{ form.email }}
        </div>
        <div class="col-3">
            {% if form.email.errors %}
                <div class="row-1">
                    <a class="text-danger">{{ form.email.errors }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <p>Password</p>
        </div>
        <div class="col-6">
            {{ form.password }}
        </div>
        <div class="col-3">
            {% if form.password.errors %}
                <div class="row-1">
                    <a class="text-danger">{{ form.password.errors }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>Repeat password</p>
        </div>
        <div class="col-6">
            {{ form.repeat_password }}
        </div>
        <div class="col-3">
            {% if form.repeat_password.errors %}
                <div class="row-1">
                    <a class="text-danger">{{ form.repeat_password.errors }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <p>Avatar</p>
        </div>
        <div class="col-6">
            <div class="custom-file">
                {{ form.avatar }}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
   
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Log in!</button>
        </div>
        <div class="col-5"></div>
    </div>
    </form>
</div>
{% endblock %}