{% load static %}

<div class="row mt-2">
    <span class="border border-primary col-12">
        <div class="row m-2">
            <div class="col-2">
                <div class="row mt-3">
                    <img class="ml-4" src="{% static 'img/test.png' %}" width="50" height="50" alt="">
                </div>
                <div class="row mt-5">
                    <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                        <span class="border border-secondary rounded-left">&nbsp;{{ question.rating }}&nbsp;&nbsp;</span>
                        <a href="#" class="btn btn-secondary btn-sm">&#8593;</a>
                        <a href="#" class="btn btn-secondary btn-sm">&#8595;</a>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <div class="row m-2">
                    <a href="{% url 'question' question.id %}"><h5 class="mt-0">{{ question.title }}</h5></a>
                </div>
                <div class="row m-2">
                    <p>{{ question.text }}</p>
                </div>

                <div class="row m-2">
                    <div class="col-4">
                        <a href="{% url 'question' question.id %}">answers: ({{ question.num_answers }})</a>
                    </div>
                    <div class="col-8">
                        <span class="text_style" style="white-space: nowrap; margin-left: 6px"> Tags:</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.title %}"><span class="top_name"> {{tag.title}}</span></a>
                        {% endfor %}
                        <div class="row ml-1">
                            <span class="text_style" style="white-space: nowrap; margin-left: 6px"><p class="small">{{ question.created_at }}</p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>


